<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:200' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="error">
        <img class="404" src="/static/1.gif">
        <h1>404 error</h1>
    </div>
<style>
    *{box-sizing: border-box;}
    html, body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    img {
        width: 60%;
    }
    .error {
        width: 97%;
        font-family: 'Source Code Pro', monospace;
        text-align: center;
        position: absolute;
        top: 10%;
        margin-top: -0.625em;
    }
    h1 {
        font-size: 3em;
    }
</style>
</body>
</html>
