{% extends 'abase.html' %}

{% block content %}
    <h1>{% block title %} Приветствуем в CodeBin админа {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Изменить</span>
        </a>
        <a href="{{ url_for('delete', id=post['id']) }}">
            <span class="badge badge-danger" 
                  onclick="return confirm('Вы уверены что надо удалить?')">Удалить</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
