<!doctype html>
<html>
  <head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(67629139, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/67629139" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script data-ad-client="ca-pub-2851711974641817" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- /Yandex.Metrika counter -->
    <meta name="yandex-verification" content="cc37d402d1d4104c" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="code, codebin">
    <meta name="description" content="Место для твоего кода!">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Version info</title>
  </head>
  <body>
    <div class="container">
        <img src="/static/code.png" style="max-width: 100px;"><hr>
        <h1><a href="https://codebinpy.herokuapp.com/">CodeBin</a>:</h1>
        <b>v.1.0.0</b> — создан проект<br>
        <b>v.2.0.0</b> — сделан дизайн<br>
        <b>v.2.5.5</b> — создан классический файл <code>readme.js</code><br>
        <b>v.2.5.0</b> — улучшен дизайн и добавлены комментарии<br>
        <b>v.3.0.0</b> — добавлена кнопка <code>info</code> в просмотр<br>
        <b>v.4.6.5</b> — запущенна текстовая функция просмотра исходников <code>RAW</code><br>
        <b>v.5.0.0</b> — <code>RAW</code> полностью проверена и добавлена<br>
        <b>v.6.0.0</b> — создана документация<br>
        <b>v.6.4.1</b> — добавлен файл <code>documentation.js</code><br>
        <b>v.7.0.0</b> — упрощён интерфейс<br>
        <b>v.7.7.2</b> — добавлено изменение фона по часам<br>
        <b>v.8.3.5</b> — исправлена документация<br>
        <b>v.9.0.0</b> — добавлена функция показа <a href="https://codebinpy.herokuapp.com/docs">документации</a><br>
        <b>v.9.6.1</b> — добавлены кнопки <code>download</code> и <code>print</code><br>
        <b>v.10.0.0</b> — введён отчёт о <a href="https://codebinpy.herokuapp.com/v">версиях</a><br>
    </div>
    <style>b{margin-left: 10px;}</style>
</body>
</html>